??################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MSVC/.vs/embermud
/src/MSVC/obj/x64/Debug
src/*.o
src/*.exe
build/
*.filters
*.user
player/
gods/
area/
src/help.txt
src/ember
.claude/
.idea/
ember
*.exe

player/*
!player/player.dir
!player/temp/
