[Paths]
AreaDir = "../area"
PlayerDir = "../player"
PlayerTemp = "../player/temp.tmp"
LogDir = "../log"

; Data files used by the server
[Files]
HelpFile = "help.are"
BugFile = "bugs.txt"
TypoFile = "typos.txt"
ShutdownFile = "shutdown.txt"
BanFile = "ban.txt"
